{% extends 'meublog/base.html' %}

{% block titulo %} << Meu Blog >> {% endblock %}

{% block conteudo %}
    <h1>Meu Blog</h1>
    {% for p in posts %}
        <h2>
            <a href="{{ p.get_absolute_url }}">{{ p.titulo }}</a>
        </h2>
        <p class="date">
            Publicado em {{ p.publicado }} por {{ p.autor }}
        </p>
        <p>
            {{ p.corpo|truncatewords:15|linebreaks }}
        </p>
    {% endfor %}
    {% include "paginacao.html" with page=posts %}
{%endblock%}